* {
    box-sizing: border-box;
}

.app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    border-radius: 50px;
    color: white;
    padding: 40px 20px;
    width: 600px;
}

.display {
    font-size: 120px;
    margin-bottom: 10px;
    text-align: right;
    background-color: gray;
}

.buttons {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center
}

@media (max-width: 600px) {
    .app {
        overflow-x: hidden;
        left: 0;
        transform: translate(0, -50%);
        /* background-color: red; */
        width: 100%;
        padding: 40px 20px;
        margin: auto auto;
    }

    .buttons {
        grid-gap: 10px;
    }

    .display {
        font-size: 40px;
    }
}